<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uer.trabajogradofittness">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroPersona" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroEntreno.DetallesEntreno"
            android:label="@string/title_activity_detalles_entreno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrincipalInstructor"
            android:label="@string/title_activity_principal_instructor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Persona.InformacionPersona"
            android:label="@string/title_activity_informacion_persona"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nutricion.Alimentos"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>
        <activity
            android:name=".Nutricion.InformacionAlimento"
            android:parentActivityName=".Nutricion.Alimentos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Nutricion.Alimentos" />
        </activity>
        <activity android:name=".Rutina.Ejercicios" />
        <activity
            android:name=".Rutina.InformacionEjercicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Bluetooth.Cliente" />
        <activity android:name=".Bluetooth.Dispositivo" />
        <activity
            android:name=".Bluetooth.Main"
            android:theme="@style/AppTheme" />
        <activity
            android:name="Bluetooth.DeviceActivity"
            android:label="@string/title_activity_device">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Bluetooth.Main" />
        </activity>

        <service
            android:name=".Bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".Bluetooth.Main2"></activity>
    </application>

</manifest>